<div class="main">
    <div class="main__heading">
        <h2 style="text-align: center;"> Books Store</h2>
        <a href="/add-book">
            <button style="height: 35px; width: 100px; background-color: #0000FF; color: white; margin-top: 15px;">Add Book</button>
        </a>
        <a href="/get-books">
            <button style="height: 35px; width: 100px; background-color: #0000FF; color: white; margin-top: 15px;">Get Books</button>
        </a>
    <div>

    <div class="booksdata">
        <table class="eachbook" *ngFor="let res of books">
            <tr>
                <td>Title</td>
                <td>: {{res['bookName']}}</td>
            </tr>
            <tr>
                <td>Author</td>
                <td>: {{res['author']}}</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>: {{res['price']}} /-</td>
            </tr>
            <tr>
                <td>Date of Publish</td>
                <td>: {{res['publishDate']}}</td>
            </tr>
            
        </table>
    </div>
</div>
  
  
  