.main{
    position: absolute;
    background-color: rgba(211, 211, 211, 0.473);
    width: 50%;
    top: 15%;
    left: 25%;
    display: inline;
    height: 70%;
    border-radius: 2px;
}

.main__heading{
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

 
.main__subheading{
    margin-left: 30px;
    margin-bottom: 10px;
}


.main__split{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 30px;
    width: 180%; 
}


.main__split__left{
    display: grid;
    grid-template-rows: 50% 50%;
}

.date_picker{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
} 
